@model FlowerShop.UI.Models.User.RegisterUser;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/form.css" />
</head>
<body>

<h1>Register</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
                    <button type="button" class="btn btn-success" id="login-btn">Login</button>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>

<script>
    document.getElementById('login-btn').addEventListener('click', function () {
        window.location.href = '/Account/Login';
    });
</script>
