@model IEnumerable<FlowerShop.UI.Models.ItemListVm>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/form.css" />
</head>

<body>
    <section class="section4" id="product">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" data-aos="fade-down">
                    <h1>My <span class="clrchange">Basket</span></h1>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-4" data-aos="fade-right">
                        <div class="innerproductsection" data-itemOrderId="@item.Id">
                            <img src="data:image/jpeg;base64,@item.PhotoFile" alt="Image" />
                            <div class="cartcontainer">
                                <button class="wishlist" onclick="deleteItemFromBasket(`@item.Id`)"><i class="fa-solid fa-times"></i></button>
                            </div>
                            <input type="number" class="item-quantity" value="1" min="1" max="1000" onchange="updateTotalPrice()" />
                            <h2>@item.Name</h2>
                            <h1 class="price"><span class="clrchange">@item.Price грн</span></h1>
                        </div>
                    </div>
                }
            </div>
            @if (Model.Count() > 0)
            {
                <div id="totalPrice"></div>
                <div>
                    <form method="post">
                    <input type="hidden" id="totalPriceInput" name="totalPriceInput" />
                    <button class="btn btn-primary" formaction="@Url.Action("CreateOrder", "Order")" formmethod="get" onclick="orderItems()">Продовжити</button>
                </form>
            </div>
            }
        </div>
    </section>
</body>
</html>

<script src="~/js/item/deleteItemFormBasket.js"></script>
<script src="~/js/order/totalPrice.js"></script>