@model IEnumerable<FlowerShop.UI.Models.ItemListVm>

@{
    ViewData["Title"] = "ShowWishlist";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/form.css" />
</head>

<body>

    <section class="section4" id="product">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" data-aos="fade-down">
                    <h1>My <span class="clrchange">Wishlist</span></h1>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-4" data-aos="fade-right">
                        <div class="innerproductsection">
                            <img src="data:image/jpeg;base64,@item.PhotoFile" alt="Image" />
                            <div class="cartcontainer">
                                <button class="wishlist" onclick="deleteItemFromWishlist(`@item.Id`)"><i class="fa-solid fa-times"></i></button>
                                <button class="btn" onclick="addItemToBasket(`@item.Id`)">Add To Card<i class="fa-solid fa-cart-plus"></i></button>
                            </div>
                            <h2>@item.Name</h2>
                            <h1 class="price"><span class="clrchange">@item.Price грн</span></h1>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

</body>
</html>

<script src="~/js/item/deleteItemFromWishlist.js"></script>
<script src="~/js/item/addItemToBasket.js"></script>
<script src="~/js/item/showMessage.js"></script>