@model FlowerShop.UI.Models.CustomBouquet.CustomBouquetInputModel

@{
    ViewData["Title"] = "CreateCustomBouquet";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/form.css" />
</head>

<body>
<div class="row">
    <div class="col-md-4">
            <form asp-action="CreateCustomBouquet" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoFile" class="control-label"></label>
                <input type="file" name="PhotoFile" accept=".jpg, .jpeg, .png" />
                <span asp-validation-for="PhotoFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Додаткова інформація</label>
                <input asp-for="UserDescription" class="form-control" />
                <span asp-validation-for="UserDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
